.background{
	position: absolute;
	top:0;
	left:0;
	width: 100vw;
	height: 100vh;
	background-image: url("gaga1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

h2{
	position: absolute;
	font-family: 'Playfair Display', serif;
	color: rgb(15, 25, 11);
	font-size: 170px;
	top: -122px;
	left: 8px;
	font-weight: 400;
}

h1{
	position: absolute;
	font-family: 'Playfair Display', serif;
	color: rgb(216, 228, 211);
	font-size: 170px;
	top: -100px;
	left: 15px;
	font-weight: 400;
}

.vogue{
	position:absolute;
	font-family: 'Rokkitt', serif;
	color: rgb(216, 228, 211);
	font-size: 30px;
	line-height: 26px;
	top: 30px;
	left: 20px;
}

.met{
	position:absolute;
	font-family: 'Rokkitt', serif;
	color: rgb(216, 228, 211);
	font-size: 40px;
	line-height: 26px;
	top: 550px;
	left: 1000px;
}

.date{
	position:absolute;
	font-family: 'Rokkitt', serif;
	color: rgb(216, 228, 211);
	font-size: 40px;
	line-height: 26px;
	top: 590px;
	left: 1323px;
}

.tickets{
	position:absolute;
	font-family: 'Rokkitt', serif;
	color: rgb(216, 228, 211);
	font-size: 40px;
	line-height: 26px;
	top: 630px;
	left: 1315px;
}

@media (max-width: 375px) {
	h1{
		font-size: 50px;
		top: -8px;
		left: -130px;
		width: 100vw;
		text-align: center;
		line-height: 50px;
	}
	h2{
		font-size: 50px;
		top: -14px;
		left: -132px;
		width: 100vw;
		text-align: center;
		line-height: 50px;
	}
	.background {
		background-image: url("gaga2.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.vogue {
		font-size: 20px;
		top:3px;
		left:13px;
	}
	.met {
		font-size: 20px;
		top:580px;
		left:85px;
	}
	.date {
		font-size: 20px;
		top:600px;
		left:245px;
	}
	.tickets {
		font-size: 20px;
		top:620px;
		left:240px;
	}
}















